<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>User</servlet-name>
		<display-name>User</display-name>
		<description></description>
		<servlet-class>task_manager.User</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>task_manager.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Greeting</servlet-name>
		<display-name>Greeting</display-name>
		<description></description>
		<servlet-class>task_manager.Greeting</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<display-name>Register</display-name>
		<description></description>
		<servlet-class>task_manager.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Insert</servlet-name>
		<display-name>Insert</display-name>
		<description></description>
		<servlet-class>task_manager.Insert</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Select</servlet-name>
		<display-name>Select</display-name>
		<description></description>
		<servlet-class>task_manager.Select</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>task_manager.Logout</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/User</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Greeting</servlet-name>
		<url-pattern>/Greeting</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Insert</servlet-name>
		<url-pattern>/Insert</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Select</servlet-name>
		<url-pattern>/Select</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	
</web-app>
